        <div class="menu pagination">

                Next / Prev
                <ul>
                        <!-- direct links  -->

                        <li>
                          <a href="{{ `/server.html` | relURL }}">Part One: Server Setup</a>
                        </li>

                        <li>
                                <a href="{{ `/admin.html` | relURL }}">Part Two: Administrative</a>
                        </li>

                        <li>
                                <a href="/user.html">Part Three: End User</a>
                        </li>



                </ul> 
                
        </div>


