<aside> 
    {{ if eq .Params.notes "share" }}
        share sidebar

        {{ range where .Site.Pages "Params.notes" "share" }}
        <li>
            <a href="{{.URL}}">{{.Title}}</a>
        </li>
        {{ end }}

    {{ else if eq .Params.notes "one" }}
        actually, show One

        {{ range where .Site.Pages "Params.notes" "one" }}
        <li>
            <a href="{{.URL}}">{{.Title}}</a>
        </li>
        {{ end }}

    {{ else if eq .Params.notes "groups" }}
        show groups

        {{ range where .Site.Pages "Params.notes" "groups" }}
        <li>
            <a href="{{.URL}}">{{.Title}}</a>
        </li>
        {{ end }}


    {{ else if eq .Params.notes "semaphor" }}
        show sema

        {{ range where .Site.Pages "Params.notes" "semaphor" }}
        <li>
            <a href="{{.URL}}">{{.Title}}</a>
        </li>
        {{ end }}

    {{ end }}
</aside>