    <!-- spideroak logo -->
    <div class="so-wordmark-wrapper">
        <div class="so-wordmark rotate-90">
            <a class="" href="{{ .Site.BaseURL }}">
                <picture>
                    <!-- md and down -->
                    <source media="(max-width: 991px)" 
                            srcset="/images/so/so-logo-gray.png,
                                        /images/so/so-logo-gray@2x.png 2x">
                    <!-- lg up -->
                    <source media="(min-width: 992px)" 
                            srcset="/images/so/so-logo-gray.png,
                                        /images/so/so-logo-gray@2x.png 2x">

                    <img    class="img-fluid " 
                            src="/images/so/so-logo-gray.png" 
                            alt="SpiderOak Inc logo">
                </picture>
            </a>
        </div>
    </div>
    