<div class="">

    
    <picture>
        <!-- xs -->
        <source 
            media="(max-width: 543px)" 
            srcset="images/share/lg-share-two.png,
                    images/share/lg-share-two@2x.png 2x">

        <!-- sm -->
        <source 
            media="(min-width: 544px) and (max-width: 767px)" 
            srcset="images/share/lg-share-two.png,
                    images/share/lg-share-two@2x.png 2x">

        <!-- md -->
        <source 
            media="(min-width: 768px) and (max-width: 991px)" 
            srcset="images/share/lg-share-two.png,
                    images/share/lg-share-two@2x.png 2x">

        <!-- lg -->
        <source 
            media="(min-width: 992px) and (max-width: 1199px)" 
            srcset="images/share/lg-share-two.png,
                    images/share/lg-share-two@2x.png 2x">

        <!-- xl -->
        <source 
            media="(min-width: 1200px)" 
            srcset="images/share/lg-share-two.png,
                    images/share/lg-share-two@2x.png 2x">


        <img 
            class="img-fluid bg-image share-two" 
            src="images/share/lg-share-two@2x.png"
            alt="SpiderOak Share reciprocal file sharing">
    </picture>

</div>